<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style>
  /* body {
    padding-top: 70px;
  } */
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }
  #content {
    width: 80%  ;
    margin: 0 auto;
  }
  .navbar-inverse, .navbar-toggle, .navbar-toggle:hover{
    background-color: #487075;
    border-color: #487075!important;
  }
  .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
  }
  [v-cloak] { 
    display: none 
  }

</style>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Foosbot</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Main</a></li>
          {% if user.is_authenticated %}
            <li><a href="/accounts/logout">Logout</a></li>
          {% endif %}
          <!-- <li {% if request.path == '/contact' %} class="active" {% endif %}><a href="/contact">Contact</a></li>
 -->

        </ul>

      </div>
    </div>
  </nav>

  <div id = 'content'>

    {% block body %}
    {% endblock %}

    {% if body %}
    {{ body }}
    {% endif %}
  
  </div>
</body>

</html>