{% extends 'foosbot/base.html' %}

{% block body %}

<style>
    .custom_input {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 2px;
    }
    td>span>img {
        border-radius: 50%;
    }

    /* .table {border: 0px solid black!important;} 
.table tr, .table td, .table th {border: 0!important;}
.table tr td, 
.table tr th {border-left: 0px solid black!important;}
.table tr td:nth-child(1), 
.table tr th:nth-child(1) {border-left: 0!important;} */
</style>

<div class="container" style="width:80%">
    <div class="page-header">
        <h2 class='text-left'>Setup<br></h2>
    </div>

    <!-- <h4 class='text-left'>Account <small> {{ account_name }} </small></h4>
    <br> -->

    <div class="row">
        <div class="col-md-3">
            <h4 class='text-left'>Account <small> {{ account_name }} </small></h4>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <h4 class='text-right'> 
                
                {% if slack_channel %}
                    Slack Channel 
                    <small> 
                        <a href="{{ slack_config_url }}">{{ slack_channel }}</a> 
                        <span id = 'remove_slack' style="cursor: pointer">
                            <i class="glyphicon glyphicon-trash pale"> </i> 
                        </span>
                    </small> 
                {% else %}
                Slack 
                    <a href="https://slack.com/oauth/authorize?client_id=624952400887.615198951842&scope=incoming-webhook"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
                {% endif %}
                
            </h4>
        </div>
    </div>
    <br>
    <!-- <hr> -->

    <h4 class='text-left'>Players</h4>
    <br>
    
    <button id="id_new_player_button" class="btn btn-info" data-toggle="modal" data-target="#player_modal">Add Player</button>

    <div id="app_players" v-cloak>
        <table id="id_users_table" class="table hoverable table-hover">
            <thead>
                <th></th>
                <th>
                    Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Photo
                </th>
                <th>
                    Fob #
                </th>
                <th></th>

            </thead>
            <tbody>
                <tr v-for="player in players" v-bind:id="player.id">
                    <td style="width:24px">
                        <span style="display:none" class="id">[[ player.id ]]</span>
                        <span class = 'remove_player' style="cursor: pointer">
                            <i class="glyphicon glyphicon-trash pale"> </i> 
                        </span> 
                    </td>
                    <td>
                        <span class="fname">[[ player.fname ]]</span>
                    </td>
                    <td>
                        <span class="lname">[[ player.lname ]]</span>
                    </td>
                    <td>
                        <img class="photo" v-bind:src="player.photo" onerror="this.src='/static/img/user.jpeg'" height="35" width="35" />
                    </td>
                    <td>
                        <span class="rfid">[[ player.rfid ]]</span>
                    </td>
                    <td style="width:24px">
                        <span class = 'edit_player' style="cursor: pointer">
                            <i class="glyphicon glyphicon-cog pale"> </i> 
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<!-- Modal -->
    <div id="player_modal" class="modal fade" role="dialog">
        <div class="modal-dialog"> <!--style = "width: 850px;"-->
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Player Details</h4>
                </div>
                <div id = "details-content" class="modal-body">
                        <form id="id_player_form" action="" method="POST">
                            <div class="input-group">
                                <!-- <div class="col-md-3 custom_input"> -->
                                <div class="col-sm-12">
                                    <input id="player_id" class="form-control"  name="id" type="hidden" value="">
                                    <input id="player_fname" class="form-control" name="fname" type="text" required placeholder="First Name">
                                </div>
                                <!-- <div class="col-md-3 custom_input"> -->
                                <div class="col-sm-12">
                                    <input id="player_lname" class="form-control" name="lname" type="text" placeholder="Last Name">
                                </div>
                                <!-- <div class="col-md-2 custom_input"> -->
                                <div class="col-sm-12">
                                    <input id="player_photo" class="form-control" name="photo" type="text" placeholder="Photo URL">
                                </div>
                                <!-- <div class="col-md-2 custom_input"> -->
                                <div class="col-sm-12">
                                    <input id="player_rfid" class="form-control" name="rfid" type="text" placeholder="Fob #">
                                </div>
                                <!-- <div class="col-md-2 custom_input"> -->
                                <div class="col-sm-4">
                                    <span class="input-group-btn">
                                        <button id="id_new_link_button" type="submit" class="btn btn-success">Save Player</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div id="modal_message" class="text-danger"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
    
        </div>
    </div>

<script>
account_id = {{ account_id }}
</script>

<script src="../static/js/vendor/vue.js"></script>
<script src="../static/js/setup.js" type="text/javascript"></script>

{% endblock %}